<p *ngIf="!creature"><em>Loading...</em></p>

<div *ngIf="creature">
  <h1 id="tableLabel">
    <span *ngIf="creature.name">{{ creature.name }} </span>
    <span *ngIf="!creature.name">Unnamed </span>
    <span style="font-weight: 100">{{ creature.moniker }}</span>
  </h1>
  <div class="row">
    <div class="col-12 col-md-3">

       <div [ngSwitch]="creature.birthEventType">

          <div *ngSwitchCase="0">
            <div class="row">
              <div class="col-12 col-md-3">Mother:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', creature.parent1Moniker]">{{ creature.parent1Name }}</a></div>
            </div>
            <div class="row">
              <div class="col-12 col-md-3">Father:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', creature.parent2Moniker]">{{ creature.parent2Name }}</a></div>
            </div>
          </div>

          <div *ngSwitchCase="1">
            <div class="row">
              <div class="col-12 col-md-3">Parent 1:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', creature.parent1Moniker]">{{ creature.parent1Name }}</a></div>
            </div>
            <div class="row">
              <div class="col-12 col-md-3">Parent 2:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', creature.parent2Moniker]">{{ creature.parent2Name }}</a></div>
            </div>
          </div>

          <div *ngSwitchCase="2">
            <div class="row">
              <div class="col-12 col-md-12">Genetics:</div>
              <div class="col-12 col-md-12">{{ creature.parent2Moniker }}</div>
            </div>
          </div>

          <div *ngSwitchCase="14">
            <div class="row">
              <div class="col-12 col-md-3">Clone Source:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', creature.parent1Moniker]">{{ creature.parent1Name }}</a></div>
            </div>
          </div>

        </div>

        <div *ngIf="creature.children?.length > 0">
          <hr />
          <div class="row">
            <div class="col-12 col-md-3">
              <div *ngIf="creature.children?.length == 1">Child:</div>
              <div *ngIf="creature.children?.length >= 2">Children:</div>
            </div>
            <div class="col-12 col-md-9">
              <div *ngFor="let child of creature.children">
                <a [routerLink]="['/creatures', child.moniker]">{{ child.name }}</a>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="col-12 col-md-9">
      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="events">
        <thead>
          <tr>
            <th>Event</th>
            <th>Time</th>
            <th>Age</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events" class="creature-row">
            <td>
              <h6>{{ this.histEventTypeString(event.histEventType) }}</h6>
              <img *ngIf="event.photo" src="https://lemurware.tech/api/v1/creatures/images/{{ event.photo }}" />
            </td>
            <td>{{ this.timeUtcString(event.timeUTC) }}</td>
            <td>{{ this.ageTicksString(event.tickAge) }}</td>
            <td>
              <div [ngSwitch]="event.histEventType">

                <div *ngSwitchCase="0">
                  Conveived by
                  <br />
                  <a [routerLink]="['/creatures', event.moniker1]">{{ event.moniker1Name }}</a>
                  and
                  <a [routerLink]="['/creatures', event.moniker2]">{{ event.moniker2Name }}</a>.
                  <br />
                  <br />
                  Home World: {{ event.worldName }}.
                </div>

                <div *ngSwitchCase="1">
                  Spliced from
                  <br />
                  <a [routerLink]="['/creatures', event.moniker1]">{{ event.moniker1Name }}</a>
                  and
                  <a [routerLink]="['/creatures', event.moniker2]">{{ event.moniker2Name }}</a>.
                  <br />
                  <br />
                  Home World: {{ event.worldName }}.
                </div>

                <div *ngSwitchCase="2">
                  Engineered from
                  <br />
                  {{ event.moniker2 }}
                  <br />
                  <br />
                  Home World: {{ event.worldName }}.
                </div>

                <div *ngSwitchCase="14">
                  Cloned from
                  <br />
                  <a [routerLink]="['/creatures', event.moniker1]">{{ event.moniker1Name }}</a>.
                  <br />
                  <br />
                  Home World: {{ event.worldName }}.
                </div>


                <div *ngSwitchCase="3">
                  Born.
                </div>

                <div *ngSwitchCase="4">
                  <div [ngSwitch]="event.lifeStage">
                    <div *ngSwitchCase="1">
                      Became child.
                    </div>
                    <div *ngSwitchCase="2">
                      Became adolescent.
                    </div>
                    <div *ngSwitchCase="3">
                      Became youth.
                    </div>
                    <div *ngSwitchCase="4">
                      Became adult.
                    </div>
                    <div *ngSwitchCase="5">
                      Became old.
                    </div>
                    <div *ngSwitchCase="6">
                      Became ancient.
                    </div>
                    <div *ngSwitchCase="7">
                      Became dead.
                    </div>
                  </div>
                </div>

                <div *ngSwitchCase="5">
                  Exported from {{ event.worldName }}.
                </div>

                <div *ngSwitchCase="6">
                  Imported to {{ event.worldName }}.
                </div>

                <div *ngSwitchCase="7">
                  Died.
                </div>

                <div *ngSwitchCase="8">
                  Became pregnant
                  <br />
                  by 
                  <a [routerLink]="['/creatures', event.moniker2]">{{ event.moniker2Name }}</a>
                  <br />
                  with
                  <a [routerLink]="['/creatures', event.moniker1]">{{ event.moniker1Name }}</a>.
                </div>

                <div *ngSwitchCase="9">
                  Impregnanted
                  <br />
                  <a [routerLink]="['/creatures', event.moniker2]">{{ event.moniker2Name }}</a>
                  <br />
                  with
                  <a [routerLink]="['/creatures', event.moniker1]">{{ event.moniker1Name }}</a>.
                </div>

                <div *ngSwitchCase="10">
                  <a [routerLink]="['/creatures', event.moniker1]">{{ event.moniker1Name }}</a>
                  born.
                </div>

                <div *ngSwitchCase="15">
                  <a [routerLink]="['/creatures', event.moniker1]">{{ event.moniker1Name }}</a>
                  cloned from self.
                </div>

                <div *ngSwitchCase="16">
                  Warped from {{ event.worldName }}.
                </div>

                <div *ngSwitchCase="17">
                  Warped to {{ event.worldName }}.
                </div>


                <div *ngSwitchCase="11">
                  Laid by <a [routerLink]="['/creatures', event.moniker1]">{{ event.moniker1Name }}</a>.
                </div>

                <div *ngSwitchCase="12">
                  Laid <a [routerLink]="['/creatures', event.moniker1]">{{ event.moniker1Name }}</a>.
                </div>

                <div *ngSwitchCase="13">
                  Photographed.
                </div>

              </div>

              <div *ngIf="event.photo">
                  Photo: {{ event.photo }}
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
