<connectionStrings>  
  <add name="CreaturesDB"   
   providerName="System.Data.SqlClient"   
   connectionString="Server=tcp:creatures.database.windows.net,1433;Initial Catalog=creatures;Persist Security Info=False;User ID=admin-abFvaz;Password=baFzav-habpis-5divxa;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />  
</connectionStrings>