<h1 id="tableLabel">12 Random Creatures:</h1>

<p>This will probably still stop working once the number of creatures grows too large. Selecting 12 random creatures still touches every creature the way I'm doing it.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <tbody>
    <tr *ngFor="let forecast of forecasts" class="creature-row">
      <td>
        <a [routerLink]="['/creatures', forecast.moniker]">
          <h2 *ngIf="forecast.name">{{ forecast.name }}</h2>
          <h2 *ngIf="!forecast.name">Unnamed</h2>
          <img width="119" height="139" src="https://lemurware.tech/api/v1/creatures/{{ forecast.moniker }}/image" />
        </a>
      </td>
      <td>
        <div [ngSwitch]="forecast.birthEventType">

          <div *ngSwitchCase="0">
            <div class="row">
              <div class="col-12 col-md-3">Mother:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', forecast.parent1Moniker]">{{ forecast.parent1Name }}</a></div>
            </div>
            <div class="row">
              <div class="col-12 col-md-3">Father:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', forecast.parent2Moniker]">{{ forecast.parent2Name }}</a></div>
            </div>
          </div>

          <div *ngSwitchCase="1">
            <div class="row">
              <div class="col-12 col-md-3">Parent 1:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', forecast.parent1Moniker]">{{ forecast.parent1Name }}</a></div>
            </div>
            <div class="row">
              <div class="col-12 col-md-3">Parent 2:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', forecast.parent2Moniker]">{{ forecast.parent2Name }}</a></div>
            </div>
          </div>

          <div *ngSwitchCase="2">
            <div class="row">
              <div class="col-12 col-md-3">Genetics:</div>
              <div class="col-12 col-md-9">{{ forecast.parent2Moniker }}</div>
            </div>
          </div>

          <div *ngSwitchCase="14">
            <div class="row">
              <div class="col-12 col-md-3">Clone Source:</div>
              <div class="col-12 col-md-9"><a [routerLink]="['/creatures', forecast.parent1Moniker]">{{ forecast.parent1Name }}</a></div>
            </div>
          </div>

        </div>

        <div *ngIf="forecast.children?.length > 0">
          <hr />
          <div class="row">
            <div class="col-12 col-md-3">
              <div *ngIf="forecast.children?.length == 1">Child:</div>
              <div *ngIf="forecast.children?.length >= 2">Children:</div>
            </div>
            <div class="col-12 col-md-9">
              <div *ngFor="let child of forecast.children">
                <a [routerLink]="['/creatures', child.moniker]">{{ child.name }}</a>
              </div>
            </div>
          </div>
        </div>

      </td>
      <td>{{ forecast.birthWorldName }}<hr />{{ this.timeUtcString(forecast.birthdate) }}</td>
    </tr>
  </tbody>
</table>
